<div class="quiz">
    <div class="question" *ngIf="!toggleResult">
        <div class="question-order">
            {{questionCount}} <span style="color: red; font-size: 25px">/</span> {{ questionsLimit }}
        </div>
        <div class="title"> {{ question }}</div>
        <div class="answers">
            <form [formGroup]="QuizAnswers">
                    <label class="container" *ngFor="let answer of answers">
                        <div style="width: 80%;">{{ answer }}</div>
                        <input type="radio" name="answer" [value]="answer" formControlName="answer">
                        <span class="radio_class"></span>
                    </label>
                <button class="next-btn" (click)="nextQuestion()" *ngIf="!(questionCount === questionsLimit)" [disabled]="QuizAnswers.invalid">NEXT</button>
                <button class="next-btn" *ngIf="questionCount === questionsLimit" (click)="finishQuiz()" [disabled]="QuizAnswers.invalid" type="button">Finish</button>
            </form>   
        </div>
        <div class="timer" [ngClass]="timeLeft < 11 ? 'red' : ''">{{ timeLeft }}<sub style="font-size: 20px;">s</sub></div>
    </div>

    <app-quiz-result *ngIf="toggleResult" [correctCount]="correctCount" [questionCount]="questionsLimit"></app-quiz-result>
</div>