.quiz {
  max-width: 500px;
  
  & .question {
    max-height: 600px;
  }

  & .title {
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 35px;

    @media (max-width: 535px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  & .answers {
    width: 400px;
    margin: auto;
    max-height: fit-content;

    @media (max-width: 535px) {
      width: 300px;
    }
  }

  & .timer {
    position: absolute;
    top: 7%;
    right: 7%;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
  }

  & .question-order {
    position: absolute;
    top: 7%;
    left: 7%;
    font-size: 21px;
    color: white;
    font-family: monospace;
    font-weight: bold;
  }

  & .container {
    position: relative;
    min-width: 270px;
    min-height: 45px;
    max-width: 400px;
    max-height: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eb4d55;
    text-align: center;
    border-radius: 15px;
    color: white;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: 535px) {
      font-size: 15px;
    }

    &:hover input ~ .radio_class {
      background-color: #71c5ce;
    }

    & input {
      position: absolute;
      opacity: 0;

      &:checked ~ .radio_class {
        background-color: rgb(88, 23, 88);
      }
    }
  }
  .radio_class {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 30%;

    &:after {
      top: 10px;
      left: 10px;
      width: 7px;
      height: 7px;
      border-radius: 80%;
      background: white;
      position: absolute;
      left: 2%;
    }
  }

  & .next-btn {
    width: 100px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background: rgb(88, 23, 88);
    color: white;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      background-color: rgb(116, 39, 116);
    }

    &:disabled {
      background-color: rgb(189, 184, 184);
      cursor: not-allowed;
    }
  }
}

.red {
  color: #eb4d55 !important;
  font-size: 30px !important;
}