<div class="nav-bar">
    <span class="material-symbols-outlined" id="ic">SM</span>
    <div class="content" [class.is-open]="isMenuOpen">
        <div class="nav-tab" routerLinkActive="active">HOME</div>
        <div class="nav-tab" routerLink="/quiz" routerLinkActive="active">Quiz Game</div>
        <div class="nav-tab" routerLink="/auth" routerLinkActive="active">Log In</div>
    </div>

    <!-- Menu For Responsive Layout -->
    <div class="menu-icon" (click)="toggleMenu()">
        <span class="material-symbols-outlined">{{ isMenuOpen ? "close" : "menu" }}</span>
    </div>
</div>