<div class="nav-bar">
    <span class="material-symbols-outlined" id="ic">SM</span>
    <div class="content" [class.is-open]="isMenuOpen">
        <div class="nav-tab" routerLinkActive="active" routerLink="home">HOME</div>
        <div class="nav-tab" routerLink="/quiz" routerLinkActive="active" *ngIf="auth.isLoggedIn">Quiz Game</div>
        <div class="nav-tab">Contact</div>
        <div class="nav-tab">About</div>
        <div class="nav-tab usernmae" *ngIf="auth.isLoggedIn" title="username" (click)="toggleUserMenu()">{{ this.auth.username | async }}</div>
        <div class="nav-tab" routerLink="/auth" routerLinkActive="active" *ngIf="!auth.isLoggedIn">Log In</div>
    </div>
    

    <!-- Menu For Responsive Layout -->
    <div class="menu-icon" (click)="toggleMenu()">
        <span class="material-symbols-outlined">{{ isMenuOpen ? "close" : "menu" }}</span>
    </div>

    <app-user-menu *ngIf="isUserMenuOpen && auth.isLoggedIn" (toggleMunu)="outputFun($event)"></app-user-menu>
</div>