<div class="nav-bar">
    <span class="material-symbols-outlined" id="ic">SM</span>
    <div class="content" [class.is-open]="isMenuOpen">
        <div class="nav-tab" routerLinkActive="active" routerLink="home">HOME</div>
        <div class="nav-tab" routerLink="/quiz" routerLinkActive="active" *ngIf="auth.isLoggedIn">Quiz Game</div>
        <div class="nav-tab">Contact</div>
        <div class="nav-tab">About</div>
        <div class="nav-tab username" ClickOutside (clickOutside)="clickedOutside()" *ngIf="auth.isLoggedIn">
            <div title="username" (click)="toggleUserMenu()">
                {{ this.auth.username | async }}
                 <span class="material-symbols-outlined">{{ isUserMenuOpen ? "arrow_drop_up" : "arrow_drop_down" }}</span>
            </div>
            <!--User Menu-->
            <app-user-menu *ngIf="isUserMenuOpen" (toggleMenu)="outputFun($event)"></app-user-menu>    
        </div>
        <div class="nav-tab" routerLink="/auth" routerLinkActive="active" *ngIf="!auth.isLoggedIn">Log In</div>
    </div>
    
    <!-- Menu For Responsive Layout -->
    <div class="menu-icon" (click)="toggleMenu()">
        <span class="material-symbols-outlined">{{ isMenuOpen ? "close" : "menu" }}</span>
    </div>
</div>

