.user-menu {
    width: 180px;
    height: 200px;
    background-color: #575760;
    position: absolute;
    top: 120%;
    right: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    & > div {
        color: white;
        width: 95%;
        cursor: pointer;
        height: 35px;
        display: flex;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        &:hover {
            background-color: #696974;
            & span {
                color: #ee0000;
            }
        }
    }
}