<div class="quiz">
    <div class="question" *ngIf="questions">
        <div class="title"> {{ question }}</div>
        <div class="answers">
            <form>
                <div *ngFor="let answer of answers" class="answerBar">
                    <input type="radio">
                    <label class="container">{{answer}}
                        <input type="radio" name="answers">
                        <span class="radio_class"></span>
                    </label>
                </div>
            </form>
            <button class="next-btn" (click)="nextQuestion()">Next</button>
        </div>
    </div>
</div>