.table-container {
  display: flex;
  min-height: 650px;  
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  max-width: 1300px;
  border-radius: 30px;
  background-color: #38383f;
  padding-top: 100px;
  margin: auto;
  position: relative;
  & > h2 {
    color: rgb(162, 155, 155);
    font-family:ubnutu;
    font-size: 45px;
    margin-top: 30px;
  }

  &  table {
    width: 100%;
    max-width: 950px;
    color: white;
    text-align: center;
    font-family: ubuntu;
    margin-bottom: 30px;

    &  th {
        padding: 15px;
        font-size: 23px;
        font-weight: bold;
        border-radius: 30px;
        color: #ec6565;
        font-family: ubuntu;
        border-bottom: solid #28282d 1px;
      }

      & > tr{
        color: white;

        &:hover:not(:first-child) {
            background-color: #4d4d57;
        }
      }
    
      &  td {
        padding: 15px;
        text-align: center; 
      }
  }

  & > .back-btn {
    color: white;
    border: none;
    border-bottom: solid white 4px;
    cursor: pointer;
    font-family: ubuntu;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: #38383f;
    
    &:hover {
        border-bottom: #ec6565 solid 4px;
    }
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ec6565;
  border-radius: 10px;
}
